<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title>City Game</title>
    <link rel="stylesheet" href="main.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="vue_main.js"></script>
</head>

<body>
<div id="app">
    <div>
        <div>
            <p v-if="userCity">Ваш город: {{userCity}}</p>
            <p v-if="machineCity">Мой город: {{machineCity}}</p>
            <p v-if="errorMessage" style="color: red">{{errorMessage}}</p>
            <button v-on:click="userActionButton">Играть</button>
        </div>
        <div id="map" class="map"></div>
    </div>
    <div>

    </div>
</div>
</body>
</html>